{% extends 'base.html' %}
{% load static %}
{% block content %}
     
    <form method="POST">
        {% csrf_token %}
        <!-- Contact Start -->
                    <div class="col-md-6">
                        <div class="wow fadeInUp" data-wow-delay="0.2s">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name"name='YourName'>
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" placeholder="Your Email"name='YourEmail'>
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
                                            <label for="Password">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="Password2" placeholder="Password" name="Password2">
                                            <label for="Password2">Password</label>
                                        </div>
                                    </div>
                                     <input type="submit" value="Ro'yxatadan otish">
                                    </div>   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </form>   
       
        <!-- Contact End -->




{% endblock content %}